<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.culture.admin.login.vo.AdminLoginVO" alias="adminLogin"/>


<!-- 		<typeAlias type="com.culture.admin.notice.vo.AdminNoticeVO" alias="adminNotice"/> -->
<!-- 		<typeAlias type="com.culture.admin.board.vo.AdminBoardVO" alias="adminBoard"/> -->
<!-- 		<typeAlias type="com.culture.admin.reply.vo.AdminReplyVO" alias="adminReply"/> -->
<!-- 		<typeAlias type="com.culture.admin.payment.vo.AdminPaymentVO" alias="adminPayment"/> -->
		<typeAlias type="com.culture.admin.comment.vo.AdminCommentVO" alias="adminComment"/>
<!-- 		<typeAlias type="com.culture.admin.qna.vo.AdminQnAVO" alias="adminQnA"/> -->
		


		<typeAlias type="com.culture.admin.notice.vo.AdminNoticeVO" alias="adminNotice"/>


		<typeAlias type="com.culture.admin.notice.vo.NoticeVO" alias="adminNotice"/>
<!-- 		<typeAlias type="com.culture.admin.payment.vo.AdminPaymentVO" alias="adminPayment"/>
		<typeAlias type="com.culture.admin.comment.vo.AdminCommentVO" alias="adminComment"/>
		<typeAlias type="com.culture.admin.qna.vo.AdminQnAVO" alias="adminQnA"/> -->

		
		<typeAlias type="com.culture.user.login.vo.UserLoginVO" alias="userLogin"/>
		<typeAlias type="com.culture.user.board.vo.MovieBoardVO" alias="movieBoard"/>
		<typeAlias type="com.culture.user.board.vo.MovieReplyVO" alias="movieReply"/>
		<typeAlias type="com.culture.user.comment.vo.UserCommentVO" alias="userComment"/>



		
<!-- 		<typeAlias type="com.culture.user.payment.vo.UserPaymentVO" alias="userPayment"/>

		<typeAlias type="com.culture.user.qna.vo.UserQnAVO" alias="userQnA"/> 

 		<typeAlias type="com.culture.user.board.vo.UserBoardVO" alias="userBoard"/> 
 		<typeAlias type="com.culture.user.reply.vo.UserReplyVO" alias="userReply"/> 
		<typeAlias type="com.culture.user.payment.vo.UserPaymentVO" alias="userPayment"/>
		<typeAlias type="com.culture.user.comment.vo.UserCommentVO" alias="userComment"/>		

		<typeAlias type="com.culture.user.board.vo.UserBoardVO" alias="userBoard"/>
		<typeAlias type="com.culture.user.reply.vo.UserReplyVO" alias="userReply"/>
		<typeAlias type="com.culture.user.payment.vo.UserPaymentVO" alias="userPayment"/>
		<typeAlias type="com.culture.user.comment.vo.UserCommentVO" alias="userComment"/>

	</typeAliases>

</configuration>